@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;

    
    .poppins-thin 
    font-family: "Poppins",
    sans-serif;
}



/*LAYOUT-1*/

.conteiner-color {
    color: rgba(200, 255, 0, 0.632);
    background-color:rgba(0, 136, 255, 0.499);
    padding-bottom: 20px;
    
    
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.conteiner {
    flex-direction: wrap;
    align-items: center;
    border: 10px;
}

.flex {
    display: flex;
    gap:15px;
    border: 2px solid
    
}

.justify-content-between {
    justify-content: space-around;
    
    
}

.flex-conteiner {
    line-height: 40px;
    color: rgb(255, 0, 0);
    background-color: rgb(76, 227, 241);
    border: 5px;
}


.debug .row{
    border: 2px black;
}