@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;


    .poppins-thin font-family: "Poppins",
        sans-serif;
}



/*LAYOUT-1*/

.conteiner-color {
    color: rgba(200, 255, 0, 0.632);
    background-color: rgba(0, 136, 255, 0.499);
    padding-bottom: 10px;


}


.row {
    padding: 1rem 0;
    height: 10rem;
}

.items {
    display: flex;
    height: 100%;
    width: 75%;
    margin: 0 auto;

    .item {
        margin: inherit;
    }
}

.row-1 {
    background-color: rgba(0, 0, 139, 0.992);
    
    height: 10rem;    }
    .item-1 {
        width: 80%;
        background-color: hotpink;
    }

    .row-2 {
        background-color: white;
        
        height: 12rem;     }
        .item-1 {
            flex: 1.5;
            background-color: dodgerblue;
        }

        .item-2 {
            flex: 1;
            background-color: pink;
        }

        /*layout-3*/
        .row-3 {
            background-color: lightgray;
            
            height: 12rem;    }
            .item-2 {
                flex: 1.5;
                background-color: dodgerblue;
            }

            .item-1 {
                flex: 1;
                background-color: pink;
            }

            /*layout-3*/


            .row-4 {
                background-color: lightgray;
                
                .item-1 {
                    height: 24rem;   }
                    flex: 1;
                    background-color: green;
                }

                /*layout-4*/


                .row-4 {
                    background-color: lightgray;
                    
                    height: 24rem; 
                    
     }

                    .item-1 {
                        
                        flex: 1;
                        background-color: green;
                    }

                    /*layout-5*/
                
                    .row-5 {
                        padding: 0.5rem 0;
                        background-color: black;
                        height: 18rem;
                        .items {
                          gap: 1px;
                        }
                        .item {
                          flex: 1;
                          background-color: ;
                        }
                        .item-1 {
                          flex: 1;
                          background-color: salmon;
                        }
                        .item-2 {
                          flex: 3;
                          display: flex;
                          background-color: lightgray;
                          gap: 1px;
                          * {
                            background-color: lightseagreen;
                          }
                        }
                      }